# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*


# Build output
dist/
build/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Mac system files
.DS_Store

# Vite cache
.vite/

# IDE files
.vscode/
.idea/